.carousel-container {
    display: flex;
    align-items: center;
    background-color: #e3d0cf;
}
.carousel-inner {
    display: block;
    width: 70%; /* Adjust as needed */
    margin-left: 100px;
}

.caption {
    display: none;
}
.caption.active {
    display: flex;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}
.child {
    margin: auto;
}

.vertical-container {
    display: grid;
    grid-template-rows: auto; /* Creates rows for each child */
    gap: 10px; /* Optional: add space between items */
    border: 1px solid #ccc; /* Optional: for visualization */
    padding: 10px; /* Optional: add padding around the container */
}

.item {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
}